<h1>admin/orders/#show</h1>

<div class="container-lg">
  <div class="row">
    <div class="col-2 bg-light text-center mb-2 ">
      注文履歴詳細
    </div>
  </div>
  <div class="row">
    
  </div>
</div>