<div class="container">
  <div class="row my-3">
    <div class="col-md-3  bg-light text-center mb-2">
      <h5>注文履歴詳細</h5>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered">
        
      </table>
    </div>
  </div>
  
  
</div>